/*
  Name: Kushal Patel
  File: Assignment 3, Part 3
  Date: 20th Feb, 2025
  Desc: Typesetting a school homepage
*/
* {
box-sizing: border-box;
}

body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
    }

/* Layout */

section {
    float: left;
    width: 50%;
}

aside {
    float: left;
    width: 30%;
}

nav {
    float: left;
    width: 20%;
}

footer {
    clear: both;
}

header, section, aside, nav, footer {
    padding: 20px;
}

/* header and footer */

header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
}

  /* WRITE YOUR CODE BELOW HERE */
@font-face {
    font-family: Gruppo;
    src: url(../fonts/Gruppo/Gruppo-Regular.ttf) format('truetype');
}
@font-face {
    font-family: Libre_Baskerville;
    src: url(../fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf) format('truetype');
}
* {
    font-size: 10px;
}
body {
    font-family: Libre_Baskerville, serif; /* small change to fontface call - DP 25 Feb 2025 */
    font-size: 1rem;
    line-height: 1.45rem;
    letter-spacing: 0.8px;
    word-spacing: 2px;
}

h1 {
    font-family: 'Gruppo', sans-serif;
    font-size: 4.5rem;
    text-align: center;
    letter-spacing: 0.4rem;
}

h2 {
    font-family: 'Gruppo', sans-serif;
    font-size: 3.5rem;
    letter-spacing: 0.3rem;
}

section > h2 + p {
    text-indent: 20px;
}
a {
    outline: none;
}
a:link {
    color: rgb(160, 127, 114);
}
a:visited {
    color: green;
}

a:hover {
    color: red;
    text-decoration: none;
}

a:focus {
    color: black;
}

a:active {
    color: mediumvioletred;
}
/*
a[href^="http"] {
    display: inline-flex;
    align-items: center;
}
*/
a[href^="http"]::after {
    content: url(../image/2_image.png);
    margin: 0;
    padding-left: 2px;
    width: 1px;
    height: 0.5px;
    vertical-align: middle;
    
}

li {
    line-height: 1.45rem;
}

ul, ol {
    letter-spacing: 0.8px;
    word-spacing: 2px;
}

nav {
    font-size: larger;
}

nav ul li {
    display: block;
    text-align: center;
    margin: 25px;
    padding: 10px;  /* Increased padding for more space inside */
    width: 18rem;   /* Increased width */
    height: 5rem;   /* Increased height */
    border: 2px solid rgb(145, 26, 26);
    font-size: 2rem;  /* Increase font size if the list contains text */
}
nav ul li > a {
    text-decoration: none;
}

